.transfer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	width: 50%;
	min-width: 400px;
	max-width: 800px;
}

.uploader {
	font-family: "Josefin Sans", sans-serif;
	background-color: white;
	border-radius: 10px;
	padding: 20px;
	width: 100%;
	height: 100%;
}

.brainhub-file-input__label {
	display: none;
}

.brainhub-drop-area {
	border: 1px dashed black;
	border-radius: 10px;
}

.brainhub-drop-area--dragging {
	border: 1px dashed #66fcf1;
}

.brainhub-drop-area__button {
	opacity: 0;
	position: absolute;
	background-color: red;
	width: 50%;
	min-width: 400px;
	max-width: 800px;
	height: 90px;
}
.brainhub-drop-area__info {
	display: none;
}

.brainhub-drop-area:after {
	content: "Drop your image here or browse";
	font-family: "Josefin Sans", sans-serif;
	color: black;
	margin: auto;
}

.brainhub-file-info__metadata__info,
.brainhub-file-info__metadata__info_name {
	color: black;
	font-size: 1em;
	font-weight: 400;
	word-break: break-all;
}
