.bump {
	cursor: pointer;
	font-size: 10vw;
	font-family: "Josefin Sans", sans-serif;
	color: #66fcf1;
	background-color: white;
	display: inline;
	padding: 15px;
	padding-bottom: 0px;
	animation: fadeOutRGBA 5s linear infinite;
	box-shadow: 5px 5px 6px 0px rgba(102, 252, 241, 0.5);
}

@keyframes fadeOutRGBA {
	0% {
		box-shadow: 5px 5px 6px 0px rgba(102, 252, 241, 1);
	}
	50% {
		box-shadow: 5px 5px 6px 0px rgba(102, 252, 241, 0.7);
	}
	100% {
		box-shadow: 5px 5px 6px 0px rgba(102, 252, 241, 1);
	}
}
