.bump {
	cursor: pointer;
	font-size: 5em;
	font-family: "Josefin Sans", sans-serif;
	color: #37dbe0;
	background-color: white;
	display: inline;
	padding: 0.2em;
	padding-bottom: 0px;
	animation: fadeOutRGBA 3s linear infinite;
	border-radius: 10px;
	box-shadow: -2px -2px 11px rgba(41, 162, 166, 0.5), 2px 2px 11px rgba(69, 255, 255, 0.5);
}

@keyframes fadeOutRGBA {
	0% {
		box-shadow: -2px -2px 11px rgba(41, 162, 166, 1), 2px 2px 11px rgba(69, 255, 255, 1);
	}
	50% {
		box-shadow: -2px -2px 11px rgba(41, 162, 166, 0.5), 2px 2px 11px rgba(69, 255, 255, 0.5);
	}
	100% {
		box-shadow: -2px -2px 11px rgba(41, 162, 166, 1), 2px 2px 11px rgba(69, 255, 255, 1);
	}
}

.info {
	display: block;
	color: white;
	margin-top: 20px;
	font-family: "Josefin Sans", sans-serif;
	font-size: 1em;
	min-height: 1em;
}
